In [1]:
import pandas as pd
from pathlib import Path
from functools import reduce

In [2]:
zips_2014 = Path('us_zip_pop_2014.csv')
zips_2015 = Path('us_zip_pop_2015.csv')
zips_2016 = Path('us_zip_pop_2016.csv')
zips_2017 = Path('us_zip_pop_2017.csv')
zips_2018 = Path('us_zip_pop_2018.csv')
zips_2019 = Path('us_zip_pop_2019.csv')
zips_2020 = Path('us_zip_pop_2020.csv')
zips_2021 = Path('us_zip_pop_2021.csv')
zips_2022 = Path('us_zip_pop_2022.csv')
zip_city = Path('uszips.csv')

In [3]:
columns_to_use = ['NAME', 'B01003_001E']
columns_in_zip = ['zip', 'lat', 'lng', 'city', 'state_id', 'state_name', 'county_name', 'timezone']

In [4]:
pop_2014 = pd.read_csv(zips_2014, usecols = columns_to_use)
pop_2015 = pd.read_csv(zips_2015, usecols = columns_to_use)
pop_2016 = pd.read_csv(zips_2016, usecols = columns_to_use)
pop_2017 = pd.read_csv(zips_2017, usecols = columns_to_use)
pop_2018 = pd.read_csv(zips_2018, usecols = columns_to_use)
pop_2019 = pd.read_csv(zips_2019, usecols = columns_to_use)
pop_2020 = pd.read_csv(zips_2020, usecols = columns_to_use)
pop_2021 = pd.read_csv(zips_2021, usecols = columns_to_use)
pop_2022 = pd.read_csv(zips_2022, usecols = columns_to_use)
city_zip = pd.read_csv(zip_city, usecols = columns_in_zip)

In [5]:
pop_2014 = pop_2014.iloc[1:]
pop_2014 = pop_2014.rename(columns={'NAME': 'zip', 'B01003_001E': '2014'})
pop_2015 = pop_2015.iloc[1:]
pop_2015 = pop_2015.rename(columns={'NAME': 'zip', 'B01003_001E': '2015'})
pop_2016 = pop_2016.iloc[1:]
pop_2016 = pop_2016.rename(columns={'NAME': 'zip', 'B01003_001E': '2016'})
pop_2017 = pop_2017.iloc[1:]
pop_2017 = pop_2017.rename(columns={'NAME': 'zip', 'B01003_001E': '2017'})
pop_2018 = pop_2018.iloc[1:]
pop_2018 = pop_2018.rename(columns={'NAME': 'zip', 'B01003_001E': '2018'})
pop_2019 = pop_2019.iloc[1:]
pop_2019 = pop_2019.rename(columns={'NAME': 'zip', 'B01003_001E': '2019'})
pop_2020 = pop_2020.iloc[1:]
pop_2020 = pop_2020.rename(columns={'NAME': 'zip', 'B01003_001E': '2020'})
pop_2021 = pop_2021.iloc[1:]
pop_2021 = pop_2021.rename(columns={'NAME': 'zip', 'B01003_001E': '2021'})
pop_2022 = pop_2022.iloc[1:]
pop_2022 = pop_2022.rename(columns={'NAME': 'zip', 'B01003_001E': '2022'})

In [6]:
city_zip['zip'] = city_zip['zip'].astype(str).str.zfill(5)
city_zip

,zip,lat,lng,city,state_id,state_name,county_name,timezone
0,00601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,Adjuntas,America/Puerto_Rico
1,00602,18.36075,-67.17541,Aguada,PR,Puerto Rico,Aguada,America/Puerto_Rico
2,00603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,Aguadilla,America/Puerto_Rico
3,00606,18.16585,-66.93716,Maricao,PR,Puerto Rico,Maricao,America/Puerto_Rico
4,00610,18.29110,-67.12243,Anasco,PR,Puerto Rico,Añasco,America/Puerto_Rico
...,...,...,...,...,...,...,...,...
33783,99923,55.98043,-130.03803,Hyder,AK,Alaska,Prince of Wales-Hyder,America/Sitka
33784,99925,55.55398,-132.96276,Klawock,AK,Alaska,Prince of Wales-Hyder,America/Sitka
33785,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,Prince of Wales-Hyder,America/Metlakatla
33786,99927,56.33305,-133.60044,Point Baker,AK,Alaska,Prince of Wales-Hyder,America/Sitka
33787,99929,56.36089,-132.00635,Wrangell,AK,Alaska,Wrangell,America/Sitka

In [7]:
pop_2014['zip'] = pop_2014['zip'].str.replace("ZCTA5 ", '')
pop_2015['zip'] = pop_2015['zip'].str.replace("ZCTA5 ", '')
pop_2016['zip'] = pop_2016['zip'].str.replace("ZCTA5 ", '')
pop_2017['zip'] = pop_2017['zip'].str.replace("ZCTA5 ", '')
pop_2018['zip'] = pop_2018['zip'].str.replace("ZCTA5 ", '')
pop_2019['zip'] = pop_2019['zip'].str.replace("ZCTA5 ", '')
pop_2020['zip'] = pop_2020['zip'].str.replace("ZCTA5 ", '')
pop_2021['zip'] = pop_2021['zip'].str.replace("ZCTA5 ", '')
pop_2022['zip'] = pop_2022['zip'].str.replace("ZCTA5 ", '')

In [8]:
pop_2020

         zip   2020
1      00601  16773
2      00602  37083
3      00603  45652
4      00606   6231
5      00610  26502
...      ...    ...
33116  99923     12
33117  99925    990
33118  99926   1582
33119  99927      0
33120  99929   2509

[33120 rows x 2 columns]

In [9]:
pop_dataframes = [pop_2022, pop_2021, pop_2020, pop_2019, pop_2018, pop_2017, pop_2016, pop_2015, pop_2014]
population_zip = reduce(lambda left, right: pd.merge(left, right, on='zip'), pop_dataframes)
column_order = ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']

population_zip.set_index('zip', inplace=True)
population_zip = population_zip[column_order]
population_zip

        2014   2015   2016   2017   2018   2019   2020   2021   2022
zip
00601  18088  17982  17800  17599  17242  17113  16773  17126  16834
00602  40859  40260  39716  39209  38442  37751  37083  37895  37642
00603  53162  52408  51565  50135  48814  47081  45652  49136  49075
00606   6415   6331   6320   6304   6437   6392   6231   5751   5590
00610  28805  28328  27976  27590  27073  26686  26502  26153  25542
...      ...    ...    ...    ...    ...    ...    ...    ...    ...
99923     12     13      0      0     15     14     12     13     25
99925    728    826    908    901    927    908    990    917    920
99926   1622   1711   1667   1684   1635   1654   1582   1445   1465
99927    131    123     81     59     38      0      0     11     14
99929   2354   2365   2385   2455   2484   2502   2509   2161   2133

[32923 rows x 9 columns]

In [10]:
city_and_zip = pd.merge(population_zip, city_zip, on='zip')
city_and_zip.set_index('zip', inplace=True)
city_and_zip

,2014,2015,2016,2017,2018,2019,2020,2021,2022,lat,lng,city,state_id,state_name,county_name,timezone
zip,,,,,,,,,,,,,,,,
00601,18088,17982,17800,17599,17242,17113,16773,17126,16834,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,Adjuntas,America/Puerto_Rico
00602,40859,40260,39716,39209,38442,37751,37083,37895,37642,18.36075,-67.17541,Aguada,PR,Puerto Rico,Aguada,America/Puerto_Rico
00603,53162,52408,51565,50135,48814,47081,45652,49136,49075,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,Aguadilla,America/Puerto_Rico
00606,6415,6331,6320,6304,6437,6392,6231,5751,5590,18.16585,-66.93716,Maricao,PR,Puerto Rico,Maricao,America/Puerto_Rico
00610,28805,28328,27976,27590,27073,26686,26502,26153,25542,18.29110,-67.12243,Anasco,PR,Puerto Rico,Añasco,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99923,12,13,0,0,15,14,12,13,25,55.98043,-130.03803,Hyder,AK,Alaska,Prince of Wales-Hyder,America/Sitka
99925,728,826,908,901,927,908,990,917,920,55.55398,-132.96276,Klawock,AK,Alaska,Prince of Wales-Hyder,America/Sitka
99926,1622,1711,1667,1684,1635,1654,1582,1445,1465,55.12617,-131.48928,Metlakatla,AK,Alaska,Prince of Wales-Hyder,America/Metlakatla
99927,131,123,81,59,38,0,0,11,14,56.33305,-133.60044,Point Baker,AK,Alaska,Prince of Wales-Hyder,America/Sitka
99929,2354,2365,2385,2455,2484,2502,2509,2161,2133,56.36089,-132.00635,Wrangell,AK,Alaska,Wrangell,America/Sitka